@charset "UTF-8";
/* CSS Document */


.overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    display: block;
	top:15%;
}


.slide-item img{
	width:100%;
}

.wrapper .owl-theme .owl-controls {
    margin-top: -30px;
}

.text-easy{
	font-family: 'inseebold';
	margin:100px 0;
	padding:20px;
	color:#fff;
}

.text-easy h1{
	font-size: 48px;
    margin-bottom: 10px;
	font-weight:normal;
	z-index:1;
}

.text-easy p{
	font-size: 17px;
    letter-spacing: 0.5px;
	font-family: 'SemiLight';
}

.text-easy .last{
	margin-top:30px;
	width:30%;
}

.text-easy input{
	background-color:#2c93d6;
	border:none;
}

.text-easy input:focus,
.text-easy input:hover{
	border:none;
	background-color:#83ceff;
}

.content-01{
	    padding: 40px 0 20px 0;
}

.icon-onlinecourse,
.icon-video,
.icon-teacher,
.icon-libery{
	background:url(../images/college-gray.gif) no-repeat;
	display:block;
	margin:0 auto;
	width:128px;
	height:128px;
}

.icon-video{
	background:url(images/video-gray.gif) no-repeat;
}

.icon-teacher{
	background:url(../images/tacher-gray.png) no-repeat;
}

.icon-libery{
	background:url(../images/lbrary-gray.png) no-repeat;
}

.icon-onlinecourse:hover{
	background:url(../images/college.png) no-repeat;
}

.icon-video:hover{
	background:url(images/video.gif) no-repeat;
}

.icon-teacher:hover{
	background:url(..images/teacher.png) no-repeat;
}

.icon-libery:hover{
	background:url(../images/library.png) no-repeat;
}

.icon-text p{
	color:#818181;
}

.content-2 {
    background-color: #edf0f5;
	padding-bottom:30px;
}

.content-2:before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 1;
    left: 50%;
    /*top: 0;*/
    width: 3em;
    height: 2.8em;
    background-color: #fff;
    margin: -1.4em 0 0 -1.3em;
    -webkit-transform: rotate(35deg) skewX(-20deg);
    -moz-transform: rotate(35deg) skewX(-20deg);
    transform: rotate(35deg) skewX(-20deg);
}

.content-2-inner{
	padding:40px 0;
}

.content-2 .col-md-12{
	padding:0;
}

.content-2 h1,
.events h1{
	background:url(../images/ribbon-head.png) no-repeat center;
	font-family: 'Allura';
	color:#fff;
	padding:20px 0;
}

p.popular-inner{
	color:#959595;
	font-size:15px;
}

.popular-box{
	background-color:#fff;
	margin:10px 0 15px 0;
	border:1px solid #e5e6e8;
}

.popular-box:hover{
	margin-top:0;
}

.icon-course{
	display:block;
	width:100%;
	height:190px;
}

.icon-course img{
	width:100%;
	height:100%;
}

.text-box {
	padding:20px 20px 5px 20px;
}

.text-box a {
	text-transform:uppercase;
	font-family: 'SemiLight';
	font-size:24px;
}

.text-box p{
	font-family: 'SemiLight';
	font-size:17px;
}

.social-rate{
	padding:0 20px;
	height: 30px;
}

.social-rate .col-md-5,
.social-rate .col-md-4,
.social-rate .col-md-3{
	padding:0;
}
.star{
	width:13px;
	height:13px;
	display: -webkit-inline-box;
}
.star img{
	width:100%;
	height:100%;
	margin-right:3px;
}

.people img,
.text-comment img{
	display:inline-block;
}

.people ,
.text-comment{
	color:#989898;
}

.view-all{
	text-align:center;
	margin:20px 0;
}

.view-all button{
	text-transform:uppercase;
	background-color:#333b48;
	color:#fff;
	padding:10px 15px;
}

/* counter */

.counter .col-md-12{
	padding:100px 0;
}

.count-coures {
	color:#fff;
}

.count-coures .glyphicon{
	width:100%;
	font-size:50px;
}

.counter .parallax {
    background-color: #f27c66;
}

.count-coures .odometer.odometer-auto-theme.check-course,
.count-coures .odometer.odometer-theme-car.check-course,
.count-coures .odometer.odometer-auto-theme.check-student,
.count-coures .odometer.odometer-theme-car.check-student,
.count-coures .odometer.odometer-auto-theme.check-lections,
.count-coures .odometer.odometer-theme-car.check-lections,
.count-coures .odometer.odometer-auto-theme.check-exam, 
.count-coures .odometer.odometer-theme-car.check-exam{
	background:none;
	border:none;
}

.count-coures .odometer.odometer-auto-theme.check-course .odometer-digit,
.count-coures .odometer.odometer-theme-car.check-course .odometer-digit,
.count-coures .odometer.odometer-auto-theme.check-student .odometer-digit,
.count-coures .odometer.odometer-theme-car.check-student .odometer-digit,
.count-coures .odometer.odometer-auto-theme.check-lections .odometer-digit,
.count-coures .odometer.odometer-theme-car.check-lections .odometer-digit,
.count-coures .odometer.odometer-auto-theme.check-exam .odometer-digit,
.count-coures .odometer.odometer-theme-car.check-exam .odometer-digit{
	background:none;
	border:none;
	box-shadow:none;
	font-size:34px;
	color:#fff;
	margin:15px 0 5px 0;
}

.text-count{
	font-size:16px;
	text-transform:capitalize;
}

.detail-video{
	padding:50px 0;
	font-family: 'ProximaNova';
}

.detail-video h1{
	text-transform:uppercase;
	color: #333b48;
	margin-bottom: 30px;
}

.detail-video-inner{
	margin:25px 0;
}

.detail-video-inner h4{
	text-transform:uppercase;
	color:#428bca;
	margin:15px 0 5px 0;
}

.detail-video-inner p{
	color: #818181;
}

.our-video .img-video{
	margin:70px 0 0 0;
}

.img-video.our-video-player {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.our-video1 {
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 24%;
    padding-left: 3%;
    background-image: url(../images/imac.png);
}

.width-100per {
    width: 100%;
}

.img-video {
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}

.img-video img{
	width: 357px;
    height: 200px;
}

/* latest */
.latest-inner{
	padding:25px;
}

.latest-box,
.event-box{
	padding:20px;
	border:1px solid #ebecee;
	background-color:#fff;
	font-family: 'ProximaNova';
}

.col-sm-4.event-box{
	width:31.333%;
	margin:0 15px;
}

.col-sm-4.event-box:first-child{
	margin-left:0;
}

.col-sm-4.event-box:last-child{
	margin-right:0;
}

.latest-box h3 {
	font-family: 'Roboto-Regular';
}

.time-up span{
	color:#bbbbbb;
	font-size:13px;
}

.time-up .glyphicon-time:before {
	margin-right:5px;
	vertical-align: middle;
}

.text-latest{
	margin:15px 0 20px 0;
	color:#727272;
}

.link-readmore a{
	text-transform:uppercase;
}

.img-event img{
	width:100%;
}

.events{
	padding:0 0 40px 0;
}

.event-box h2{
	margin-bottom:0;
}

.month{
	color:red;
}

.event-box .col-xs-9,
.col-xs-12.img-event{
	padding:0;
}

.event-box h4{
	font-family: 'ProximaNova';
	margin-top:25px;
}

.event-box .col-xs-9 p{
	margin: 0;
	color:#727272;
}

.teacher-box{
	padding:15px;
	border:1px solid #ebecee;
	background-color:#fff;
}

.img-teacher{
	width:100%;
	height:200px;
}

.img-teacher img{
	width:100%;
	height:100%;
}

.teacher-box h5{
	color:#fc6957;
}

.detail-teacher{
	color:#a0a0a0;
}

.img-teacher{
	margin: 0;
	overflow: hidden;
	position: relative;
}

.img-teacher a {
	text-decoration: none;
}

.img-teacher a:hover {
	cursor: pointer;
}

.img-teacher a:hover .open-hover {
	display: block;
	font-size: 1.2em;
	padding: 10px 0;
	background: #2b82b8;
	filter:alpha(opacity=75);
	opacity:.75;
	color: #fff;
	position: absolute;
	bottom: 0px;
	padding: 10px;
	margin: 0;
	width: 100%;
	text-transform:uppercase;
}

.img-teacher a .open-hover {
	display: none;
}

#owl-teacher .owl-controls {
    margin-top: 25px;
}

#owl-teacher .owl-buttons div {
	opacity:1;
}

footer {
    color: #b0b0b0;
    background-color: #2f332f;
}

.easy-logo{
	font-family: 'Arabica';
	margin:25px 0;
}

.easy-logo h1{
	font-size:40px;
}

.contact-address p{
	font-family: 'SemiLight';
	margin:0 0 35px 0;
	font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.social-icon {
    overflow: hidden;
    display: inline-block;
    line-height: 1em;
    margin-right: -1.25em;
}

.social-icon .socials-item {
    display: inline-block;
    margin: 0 1.25em 1.25em 0;
    outline: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.social-icon a, .social-icon a .socials-hover {
    overflow: hidden;
    width: 4em;
    height: 4em;
    text-indent: 999px;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 6px;
    background-repeat: no-repeat;
    background-position: 0 -4em;
    -webkit-background-size: 4em 8em;
    -moz-background-size: 4em 8em;
    -o-background-size: 4em 8em;
    background-size: 4em 8em;
}

.social-icon a {
    display: inline-block;
    outline: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.social-facebook {
    background-image:url(../images/facbook.png);
}

.social-pinterest{
	background-image:url(../images/pinterest.png);
}

.social-twitter{
	background-image:url(../images/twitter.png);
}

.social-gplus{
	background-image:url(../images/gplus.png);
}

.social-icon a .socials-hover {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    background-position: 0 0;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

.social-icon a:hover .socials-hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
}