@charset "UTF-8";
/* CSS Document */

.findhelp{
	background-color:#118683;
	padding:15px 0;
	clear:both;
}
.findhelp input{
	width:395px;
	height:35px;
	border:1px solid #fff;
	border-radius:3px;
	color:#fff;
	font-family: 'inseebold';
	font-size:20px;
	padding-left:25px;
	background:url(../images/bg-findhelp.png) no-repeat;
}
::-webkit-input-placeholder {
	color:#fff;
	font-size:20px;
	background:url(../images/search-icon.png) no-repeat right center;
	background-position:95% 50%;
}