@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'inseebold';
    src: url('../font/INSEEBold.eot');
    src: url('../font/INSEEBold.woff') format('woff'),
	url('../font/INSEEBold.ttf') format('truetype'),
	url('../font/INSEEBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SemiLight';
    src: url('../font/INSEESemiLight.eot');
    src: url('../font/INSEESemiLight.woff') format('woff'),
	url('../font/INSEESemiLight.ttf') format('truetype'),
	url('../font/INSEESemiLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../font/MyriadPro-Bold.eot');
    src: url('../font/MyriadPro-Bold.woff') format('woff'),
	url('../font/MyriadPro-Bold.ttf') format('truetype'),
	url('../font/MyriadPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ProximaNova';
    src: url('../font/ProximaNova-Regular.eot');
    src: url('../font/ProximaNova-Regular.woff') format('woff'),
	url('../font/ProximaNova-Regular.ttf') format('truetype'),
	url('../font/ProximaNova-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto-Regular.eot');
    src: url('../font/Roboto-Regular.woff') format('woff'),
	url('../font/Roboto-Regular.ttf') format('truetype'),
	url('../font/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

